**secret**
.remote*
.vs

_**
**Copy**
**kopie**

**.mp4
**.log
*test*

**data*.json
*[a-zA-Z][0-9].*

**.zip

**dcu**
**~**
**sitemap**
**desktop**
cert/**
/js/min
**node_modules**
/api/sql
/app
/inc
/sites
/wav
/aim
/aim-connect
/aim-api
/test
/dev
/tmp
/google**
/**htaccess**
